
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductsList</title>
</head>
<body>
    <div> 
        Тут должна быть таблица с товарами из БД. Но ее пока нет.
    </div>
</body>
</html>
